<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111178280356-hqnamoprnsr0mqnjkkps34earl6e5u1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111178280356-hqnamoprnsr0mqnjkkps34earl6e5u1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDdQUZxDgyOJ3HDJh6R98flEAW29TOdWcE</string>
	<key>GCM_SENDER_ID</key>
	<string>111178280356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.mock.firebaseForFlutter</string>
	<key>PROJECT_ID</key>
	<string>test-map-294505</string>
	<key>STORAGE_BUCKET</key>
	<string>test-map-294505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111178280356:ios:021c8915e21088f9216531</string>
	<key>DATABASE_URL</key>
	<string>https://test-map-294505.firebaseio.com</string>
</dict>
</plist>